.carousel-indicators .active{
    background-color: #f00 !important;
}

.carousel-indicators li{
    background-color: brown !important;
}

.alignCenter{
    text-align: center;
}
.list-style-none {
    list-style: none!important;
    padding-left: 0;
}
.text-small {
    font-size: 12px!important;
}

.form-2 {
	padding-top: .25rem; 
	padding-bottom: .25rem; 
	background: url('../images/contact-background.jpg') center center no-repeat;
	background-size:auto;
}